# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=9999999999:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0

# Id
GROUP_CHAT_ID=-9222444111000
MEMBER_IDS='{"123103222": "Ф.И.О.", "1461092259": "Ф.И.О."}